:root {
    --bg-color: #fff;

    --font-family: 'Calibri', sans-serif;

    --padding-xs: 6px;
    --padding-s: 10px;
    --padding-m: 14px;
    --padding-l: 18px;

    --margin-xs: 6px;
    --margin-s: 10px;
    --margin-m: 14px;
    --margin-l: 18px;

    --border-radius-xs: 6px;

}