:root {
    --bg-color: #fff;
    --gold-color: #DBC08D;
    --black-color: #19242F;
    --black-80-color: #233240;
    --gray: #F8F8F8;
    --darkGold: #BFA470;

    --font-family: 'Calibri', sans-serif;

    --padding-xs: 6px;
    --padding-s: 10px;
    --padding-m: 14px;
    --padding-l: 18px;

    --margin-xs: 6px;
    --margin-s: 10px;
    --margin-m: 14px;
    --margin-l: 18px;

    --border-radius-xs: 16px

}